@{
  Layout = "_Layout";
}
@using Factory.Models;
@model Factory.Models.Machine

<h2>Select a current Engineer to service this Engineer:</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select Engineer: ")
    @Html.DropDownList("engineerId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back", "Index")</p>