@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Select existing machine to service for:</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select machine: ")
    @Html.DropDownList("machineId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Add a machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back", "Index")</p>