@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineers Portal</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Engineer is not currently tasked to any machines.</p>
}
else
{
  <h4>Engineers Machines:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.Name</li>
  }
  </ul>
}


<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Add Engineer To Machine Maintainence", "AddMachine", new { id = Model.EngineerId })</p>
